#list1{
list-style: none;
}
li{
margin-left: 20px;
}
#logo{
position: absolute;
right: 20px;
margin-right: 40px;
}
#port{
border-top-color: blue;
border-bottom-color: blue;
padding: 20px;
width: 90%;
border-width: 4px;
}
#boxPort{
	background-color: wheat;
}
#bou{
	color: brown;
}
#folio{
color: blue;
}
#tableofContent{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items: stretch;
}
p{
		font-family: "Comic Sans MS", cursive, sans-serif;
}

#firstPageImage{
	
}